
@use '../../styles/init' as *;

.nav {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 16px;
  justify-content: start;
}

.link {
  @include transition(color);
  font-size: 16px;
  font-weight: bold;
  color: var(--text-primary);
  text-decoration: none;

  &:hover {
    color: var(--text-secondary);
    text-decoration: none;
  }
}

.active {
  color: var(--red-contrasted);

  pointer-events: none;  
}
