@use '../../styles/init' as *;

.form {  
  @include make-spacer(mb, 4);
  @include make-spacer(mb, 7, sm);
  
  display: grid;
  grid-gap: 20px;  
}

.title {
  @include font-size(18px, 20px);  
  @include make-spacer(mb, 3);

  text-align: center;

  @include media-breakpoint-up(sm) {
    @include font-size(24px, 30px);
  }
}
