.list {
  display: grid;
  grid-gap: 10px;
}

.item {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  grid-gap: 10px;
  font-size: 20px;
  font-weight: 700;
}

.button {
  border: 0;
  font-size: 12px;
  padding: 5px 10px;
  cursor: pointer;

  &:hover {
    background-color: #ccc;
  }
}

.message {
  font-size: 16px;
}
