@use '../../styles/init' as *;

.block {
  @include make-spacer(ml, 2);
  display: grid;
  grid-auto-flow: column;
  grid-gap: rem(16px);
  align-items: center;
  overflow: hidden;
}

.user {
  @include font-size(14px, 16px);

  color: var(--text-secondary);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}